form.create_kingdom_form(action='/createtrade', method='POST')
    h2 Create A Trade Offer
    .input
        label(for='Type')
            i.fab.fa-fort-awesome.fa-2x
        input#kingdom.small(placeholder='buy/sell', type='text' name='type')
    .input
        label(for='resource')
            i.fas.fa-crown.fa-2x
        input#ruler.small(placeholder='resource', type='text' name='resource')
    .input
        label(for='amount')
            i.fas.fa-crown.fa-2x
        input#ruler.small(placeholder='amount', type='number' name='amount')
    .input
        label(for='ppu')
            i.fas.fa-crown.fa-2x
        input#ruler.small(placeholder='ppu', type='number' name='ppu')
    .input
        label(for='region')
            i.fas.fa-globe-americas.fa-2x
        input#region.small(placeholder='Region', type='text' name='region')
    .input
        label(for='scope')
            i.fas.fa-globe-americas.fa-2x
        input#region.small(placeholder='global/guild/personal', type='text' name='scope')
    .input
        label(for='recepient')
            i.fas.fa-globe-americas.fa-2x
        input#region.small(placeholder='kingdom name', type='text' name='recepient')
    button(type='submit') Post Offer
