doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
form.flex.col.register(action='kingdom-page' method='POST' name='test')
  h1 create ur kingdom
  input(name='kingdom' placeholder='Kingdom of Pen & Sword' type='text')
  input(name='ruler' placeholder='Shiv_P&S' type='text')
  input(name='region' placeholder='Region' type='text')
  button(type='submit') Submit