doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
form.flex.col.register(action='kingdom-page' method='POST' name='test')
  h1 create ur kingdom
  input(name='kingdom' placeholder='Kingdom Name' type='text')
  input(name='ruler' placeholder='Ruler Name' type='text')
  input(name='region' placeholder='Region Name' type='text')
  button(type='submit') Submit