doctype html
head
  script(src='https://kit.fontawesome.com/a08ba1039b.js', crossorigin='anonymous')
  link(rel='stylesheet', href='style.css', text='TEXT/CSS')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
.main_display
  object.wave(type='image/svg+xml', data='media/wave-2.svg')
  .main_message
    h1
      | &quot;the pen is mightier 
      br
      |  than the sword&quot;
    h4 - Edward Bulwer-Lytton in 1839
    p
      | Pen &amp; Sword is a free strategy game that takes place in real time. Forge your kingdom&apos;s path to supremacy alongside players across the world. Create your kingdom now!
  form.sign_up_form(action='/create-a-nation', method='POST')
    h2 Create a Kingdom
    .input
      label(for='user')
        i.fas.fa-user.fa-2x
      input#user.small(placeholder='Username', type='text')
    .input
      label(for='email')
        i.fas.fa-envelope.fa-2x
      input#email.small(placeholder='Email', type='email')
    .input
      label(for='pass')
        i.fas.fa-lock.fa-2x
      input#pass.small(placeholder='Password', type='password')
    .sign_in_btns.flex
      button.create_kingdom(type='submit') Create Your Kingdom
      h3 Already Have One?
  img.wave_logo(src='https://cdn.discordapp.com/attachments/751488486913343660/751489233637736498/circle.png', alt='')
.overlay_display
  form.sign_in_form(action='/sign-in', method='POST')
    h2 Sign In
    .input
      label(for='email')
        i.fas.fa-envelope.fa-2x
      input#email.small(placeholder='Email', type='email')
    .input
      label(for='pass')
        i.fas.fa-lock.fa-2x
      input#pass.small(placeholder='Password', type='password')
    .sign_in_btns.flex
      button.create_kingdom(type='submit') Go to Your Kingdom
      h3
        | Go Back
script(src='./js/register_sign.js')
