head
  link(rel='stylesheet' type='text/css' href='style.css')
nav.flex
  .nav_contents.flex
    a(href='./home')
      span HOME
    .sign.flex
      a(href='./sign-up')
        span Register
      a(href='./sign-in')
        span Sign In
      
.main.flex.col
  h1 Pen and Sword
  p Very fun game in my opinion
  