head
  link(rel='stylesheet' type='text/css' href='style.css')
header
  .break
  .logo
    img.pen_sword(src='https://cdn.discordapp.com/attachments/577269190835044362/723302943130124328/Text_Logo_1_24_50.png' alt='')

nav.flex
  .nav_contents.flex
    a(href='./home')
      span HOME
    .sign.flex
      a(href='./sign-up')
        span Register
      a(href='./sign-in')
        span Sign In

.main.flex.col
  h1 Pen and Sword
  p Very fun game in my opinion

footer
  .copy_right CC Pen and Sword
  .flex-container.handles
    #discord.social
      img(src='https://cdn.discordapp.com/attachments/577269190835044362/723327148126896138/Discord_Button.png' alt='')
    #fb.social
      img(src='https://cdn.discordapp.com/attachments/577269190835044362/723327150052212766/Facebook_Button.png' alt='')
    #insta.social
      img(src='https://cdn.discordapp.com/attachments/577269190835044362/723327151285338122/Instagram_Button.png' alt='')
