doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
form.flex.col.register(action='/home' method='POST' name='test')
  h1 Confirm Your Access
  input(name='key' placeholder='Beta Key' type='text')
  button(type='submit') Submit
