doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
form.flex.col.register(action='/home' method='POST' name='test')
  h1 Confirm Your Access
  input(name='key' placeholder='Beta Key' type='text')
  button(type='submit') Submit
  h2 By entering a key you ackowledge this site is in testing and is not secure. We are not liable for any damages resulting from accessing this site.
