doctype html
head
  link(rel='stylesheet' href='./style.css' type='TEXT/CSS')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' ,='' rel='stylesheet')
  script(src='https://kit.fontawesome.com/a08ba1039b.js' ,='' crossorigin='anonymous')
.policy_selection_display
  .policy_selection_message
    h1 Establish Your Presence
    p
      | A ruler is nothing without policies to guide them. Will you rule with an iron fist leveraging the power of a Monarchy? Will you harness socialism to redistribute wealth to all your Citizens? What kind of ruler truly are you: a revered diplomat or a notorious thief? Whatever you are, the choice is yours.
    img(src='https://cdn.discordapp.com/attachments/577269190835044362/723302973790355546/Logo_Gold_1_15.png' alt='')
  form(action='/kingdom-details' method='POST')
    section.show.active
      .policy_selection
        h3 Democracy
        i.fas.fa-2x.fa-dove
        h4
          | Gold 
          div
            | 5 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 10 
            i.fas.fa-minus
        input#democracy(type='radio' name='government' value='democracy')
        label(for='democracy') Democracy
      .policy_selection
        h3 Totalitarian
        i.fas.fa-2x.fa-weight-hanging
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#totalitarian(type='radio' name='government' value='totalitarian')
        label(for='totalitarian') Totalitarian
      .policy_selection
        h3 Theocracy
        i.fas.fa-2x.fa-bible
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#theocracy(type='radio' name='government' value='theocracy')
        label(for='theocracy') Theocracy
      .policy_selection
        h3 Monarchy
        i.fas.fa-2x.fa-chess-king
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#monarchy(type='radio' name='government' value='monarchy')
        label(for='monarchy') Monarchy
    section
      .policy_selection
        h3 Capitalism
        i.fas.fa-2x.fa-coins
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#capitalism(type='radio' name='economy' value='capitalism')
        label(for='capitalism') Capitalism
      .policy_selection
        h3 Socialism
        i.fas.fa-2x.fa-users
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#socialism(type='radio' name='economy' value='socialism')
        label(for='socialism') Socialism
      .policy_selection
        h3 Communism
        i.fas.fa-2x.fa-fist-raised
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#communism(type='radio' name='economy' value='communism')
        label(for='communism') Communism
      .policy_selection
        h3 Mercantalism
        i.fas.fa-2x.fa-globe-asia
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#mercantalism(type='radio' name='economy' value='mercantalism')
        label(for='mercantalism') Mercantalism
    section
      .policy_selection
        h3 Artist
        i.fas.fa-2x.fa-palette
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#artist(type='radio' name='origin' value='artist')
        label(for='artist') Artist
      .policy_selection
        h3 Diplomat
        i.fas.fa-2x.fa-file-signature
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#diplomat(type='radio' name='origin' value='diplomat')
        label(for='diplomat') Diplomat
      .policy_selection
        h3 General
        i.fas.fa-bomb.fa-2x
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#general(type='radio' name='origin' value='general')
        label(for='general') General
      .policy_selection
        h3 Thief
        i.fas.fa-2x.fa-user-ninja
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#thief(type='radio' name='origin' value='thief')
        label(for='thief') Thief
    section
      .policy_selection
        h3 Guerilla
        i.fas.fa-2x.fa-tree
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#guerilla(type='radio' name='war' value='guerilla')
        label(for='guerilla') Guerilla
      .policy_selection
        h3 Lightning
        i.fas.fa-2x.fa-bolt
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#lightning(type='radio' name='war' value='lightning')
        label(for='lightning') Lightning
      .policy_selection
        h3 Trench
        i.fas.fa-2x.fa-user-ninja
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#trench(type='radio' name='war' value='trench')
        label(for='trench') Trench
      .policy_selection
        h3 Total
        i.fas.fa-2x.fa-fire
        h4
          | Happiness 
          div
            | 2 
            i.fas.fa-plus
        h4
          | Stability 
          div
            | 2 
            i.fas.fa-minus
        input#total(type='radio' name='war' value='total')
        label(for='total') Total
    .cycle
      i.back.fa-7x.fas.fa-arrow-circle-left
      button.policy_selection_submit(type='submit') Submit
      i.next.fa-7x.fas.fa-arrow-circle-right
script(src='./js/policy_selection.js')
