doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
nav.flex
  .nav_contents.flex
    a(href='./home.html')
      span HOME
    .sign.flex
      form(action='/logout' method='POST')
        button(type='submit') Log out
.main.flex.col
  h1 ur kingdom
  p= kingdomInfo
  h2 your stats
  h3= ground
  h3= air
  h3= sea

  
