doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')


nav.flex
  .nav_contents.flex
    a(href='/home')
      span HOME
    a(href='/provinces')
      span PROVINCES
    a(href='/revenue')
      span REVENUE
    a(href='/research')
      span RESEARCH
    a(href='/military')
      span MILITARY
    a(href='/guild')
      span GUILD

    .sign.flex
      a(href='/logout')
        span LOGOUT

.main.flex.col  
    each troop in militaryStats 
        h2= troop.name + " - " + troop.value


    form.flex.col.register(action='/enlistground' method='POST' name='test')
        h1 Enlist Ground
        input(name='warriors' placeholder='0'  type="number" step="1")
        input(name='archers' placeholder='0'  type="number" step="1")
        input(name='cavalry' placeholder='0'  type="number" step="1")
        input(name='blacksmiths' placeholder='0'  type="number" step="1")
        input(name='priests' placeholder='0'  type="number" step="1")
        input(name='mages' placeholder='0'  type="number" step="1")
        button(type='submit') Submit

    form.flex.col.register(action='/enlistair' method='POST' name='test')
        h1 Enlist Air
        input(name='blimps' placeholder='0'  type="number" step="1")
        input(name='harpies' placeholder='0'  type="number" step="1")
        input(name='angels' placeholder='0'  type="number" step="1")
        input(name='dragons' placeholder='0'  type="number" step="1")
        button(type='submit') Submit

    form.flex.col.register(action='/enlistsea' method='POST' name='test')
        h1 Enlist Sea
        input(name='galleys' placeholder='0'  type="number" step="1")
        input(name='pirates' placeholder='0'  type="number" step="1")
        input(name='sea_serpents' placeholder='0'  type="number" step="1")
        button(type='submit') Submit

    form.flex.col.register(action='/enlistsiege' method='POST' name='test')
        h1 Enlist Siege
        input(name='catapults' placeholder='0'  type="number" step="1")
        input(name='trebuchets' placeholder='0'  type="number" step="1")
        input(name='cannons' placeholder='0'  type="number" step="1")
        button(type='submit') Submit
