doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')

nav.flex
  .nav_contents.flex
    a(href='/home')
      span HOME
    a(href='/provinces')
      span PROVINCES
    a(href='/revenue')
      span REVENUE
    a(href='/research')
      span RESEARCH
    a(href='/military')
      span MILITARY
    a(href='/guild')
      span GUILD

    .sign.flex
      a(href='/logout')
        span LOGOUT

.main.flex.col
  h2 You are not in a Guild!
  a(href='/create-guild') 
    span Create a guild
  a(href='/join-guild')  
    span Join a guild
