doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')


nav.flex
  .nav_contents.flex
    a(href='./home')
      span HOME
    a(href = './kingdom')
        span KINGDOM
    a(href='./military')
      span MILITARY
    .sign.flex
      a(href='/logout')
        span LOGOUT

.main.flex.col  
    h2 Current Provinces:
    h2= currentProvinceCount.count


    form.flex.col.register(action='/new-province' method='POST' name='test')
        h1 Buy Province
        button(type='submit') Submit