doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')


nav.flex
  .nav_contents.flex
    a(href='./home')
      span HOME
    a(href = './kingdom')
        span KINGDOM
    a(href='./military')
      span MILITARY
    .sign.flex
      a(href='/logout')
        span LOGOUT

.main.flex.col  
    h2 Current Provinces:
    h2= currentProvinceCount.count


    form.flex.col.register(action='/new-province' method='POST' name='test')
        h1 Buy Province
        input(name='provinceName' placeholder='province name' type='text')
        button(type='submit') Submit



.main.flex.col
  each value in provinces.countArray
    h2=provinces.provinceNames[value] 
    - var namE = provinces.provinceNames[value]
    span Land:
      span=provinces.provinceLands[value] +"       "
        span Happiness:
          span=provinces.provinceHappiness[value]
    
    form.flex.col.register(action='/buyImprovement' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value = namE)
        button(type='submit') Buy 1 improvment

