doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
form.flex.col.register(action='/create-a-nation' method='POST' name='test')
  h1 Welcome to Pen and Sword
  input(name='user' placeholder='Username' type='text')
  input(name='password' placeholder='Password' type='password')
  input(name='email' placeholder='Email' type='email')
  button(type='submit') Submit
