button.discover{
    margin: 0;
    background-color: transparent;
    background-image: linear-gradient(wheat,wheat);
    background-size: 0% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all .25s;
    border-radius: 30px;
    box-shadow: none;
    font-size: 20px;
    padding: .5em 1em;
    align-items: center;
    margin: 1em 0;
}
button.discover h3{
    margin: 0;
    margin-right: .5rem;
    transition: .25s all;
    
}
button.discover i{
    transition: .25s all;
    color: #EDC580;
}

button.discover.unlock:hover, button.discover.unlocked{
    background-size: 100% 100%;

}

button.discover.unlock:hover h3,button.discover.unlocked h3{
    color: #0f0f0f;

}
button.discover.unlock:hover i, button.discover.unlocked i{
    color: #0f0f0f;
}


button.discover.locked{
    background-image: linear-gradient(#0f0f0f,#0f0f0f);
    background-size: 100% 100%;
    color: wheat;
}
button.discover.locked i{
    color: wheat;

}
.research_table form{
    margin: 0 auto;
    
}

td.cover{
    position: absolute;
    background-color: #0f0f0f;
    left: 10.5%;
    right: 10.5%;
    
    height: 1.2em;
    text-align: center;
    
  
  
}
tr{
    position: relative !important; 
}