*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #252525
}
form h1 {
    color: #edc580;
}
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.register{
    justify-content: space-between;
    height: 20em;
    margin: 0 auto;
    width: 40%;
    align-items: center;
}
.register input {
    width: 65%;
    line-height: 2;
    font-size: 15px;
}

.register button{
    font-size: 15px;
    width: fit-content;
}

nav{
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #282828;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);

}
nav span{
    color:#EDC580;
    background-image: linear-gradient(#e7e7e7, #EDC580);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 5%;
    transition: all .25s;
}
nav span:hover{
    background-size: 100% 5%
}

.nav_contents{
    width: 90%;
    justify-content: space-between;
}
.sign{
    justify-content: space-between;
    width: 20%;
}

a{
    text-decoration: none;
}
.main{
    position: relative;
    top:3em;
    align-items: center;
    
}
.resources{
    
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

}

.resources_row{
    justify-content: space-around;
    align-items: center;
   
    width: 100%;

}
.resources span{
    color :#EDC580;
    align-items: center
}
.resources img{
    width: 30px;
    height: 30px;
}

.kingdom_card{
    width: 30%;
    height: 40%;
    background-color: #1d1d1d;
    max-height: 40%;
    align-items: center;
    margin:1em;
}

.kingdom_card h2{
    color: #EDC580;
    font-size: 24px;
    margin-bottom: 7px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-top: 0px;
    height: 40px;
}

.kingdom_card h3 {
    color: #828282;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    width:100%;
    margin-left:25%;
    margin-top: 7px;
    margin-bottom: 7px;


}

.kingdom_card h4 {
    color: rgb(255,255,255);
    font-size: 18.667px;
    text-align: left;
    font-weight: normal;
    width: 90%;
    margin:5px;

}
.kingdom_card span {
    color: #828282;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    width:75%;
    margin:8px;

}
.kingdom_card_container{
    width:80%;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
/* git add . 
git commit -m 'oo'
git push origin */