
::-webkit-scrollbar {
    width: 8px;
    margin-left: 6px;
    padding-left: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #282828; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #0f0f0f; 
}
.col{
    flex-direction: column;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.center{
    margin: 0 auto;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0em;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #0f0f0f;
    z-index: 2;
    box-shadow:  0 4px 20px -1px rgba(0, 0, 0, 0.3);

}
nav img{
    width: 15%;
    margin: 0 auto;
    
}
.menu h3{
    margin: 10px 0;
}
.menu{
    color: #EDC580;
    display: flex;
    align-items: center;
    width: 7em;
    top: .5em;
    right: 1em;
    justify-content: space-between;
    position: absolute;
    cursor: pointer;
}

.menu_bars i{
    background-color: #EDC580;
    height: 5px;
    width: 50px;
    margin: 8px 0;
    display: block;
}
.nav_overlay{
    display: flex;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,.99);
    top:-100vh;
    opacity: 0;
    transition: all 1s;
}
.stop_scroll{
    overflow: hidden;
}
.show_nav{
    top: 0 !important;
    right:0 !important;
    opacity: 1 !important;
}
.nav_col{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_col h2{
    font-size: 40px;
    color: #EDC580;
}
.nav_col a{
    position: relative;
    right:6em;
    opacity:0;
    transition: all 1s;
    
    
}
.one_nav_animation{
    
    opacity: 1 !important;
}
.two_nav_animation{
    right:0 !important;
}
.bold{
    font-weight: 700 !important;
}
.normal{
    font-weight: 400 !important; 
}

/* nav */

.sign{
    justify-content: space-between;
    width: 20%;
}

a{
    text-decoration: none;
}
.main{
    position: relative;
    top:10em;
    align-items: center;
    
} 

.kingdom_card{
    width: 30%;
    height: 40%;
    background-color: #1d1d1d;
    max-height: 40%;
    align-items: center;
    margin:1em;
}

.kingdom_card h2{
    color: #EDC580;
    font-size: 24px;
    margin-bottom: 7px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-top: 0px;
    height: 40px;
}

.kingdom_card h3 {
    color: #828282;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    width:100%;
    margin-left:25%;
    margin-top: 7px;
    margin-bottom: 7px;


}

.kingdom_card h4 {
    color: rgb(255,255,255);
    font-size: 18.667px;
    text-align: left;
    font-weight: normal;
    width: 90%;
    margin:5px;

}
.kingdom_card span {
    color: #828282;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    width:75%;
    margin:8px;

}
.kingdom_card_container{
    width:80%;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
/* git add . 
git commit -m 'oo'
git push origin */

footer{
    position: fixed;
    bottom:0;
    right:0;
    background-color: #171717;
    height: 8%;
    width:100%;
    border-top: 1px solid #EDC580;
    border-width: 90%;
    z-index: 4;
}
.flex-container{
    display:flex;
    flex-wrap: wrap;
}
.handles{
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 77px;
    margin: auto;
}

.copy_right{
    position: absolute;
    display: inline-block;
    
    font-family: 'Raleway', sans-serif;;
    margin-top: 2px;
    left: 9px;
    bottom: 9px;
    color: white;

}


.social img{
    width: 135px;
    height: auto;
}

header{
    background-color: #171717;
    height:10%;
    width: 100%;
    position: fixed;
    top: 0px; 
    right: 0;
    z-index: 3;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}
header .logo{
    width: 25%;
    margin: auto;
   
    text-align: center;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}
header .pen_sword{
    width: 70%;
    height: auto;
}
.break{
    

    position: absolute;
    border-bottom: 1px #edc580 solid;
    width: 58%;
    margin: 0 20%;
    display: block;
    text-align: center;
    height: 100px;
}



/* olala */

body{
    background-color: #171717;
    font-family: 'Poppins';
    overflow-x: hidden;
}
form{
    width:fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h2{
    margin: 2em auto;
    width: fit-content;
}
form.beta{
    margin: 10% auto;
}
form.sign_up_form{

    /* right: 10%;
    top: 13%; */
    grid-row: 2/4;
    grid-column: 3/4;
}
form.sign_up_form h2{

    margin: 1em auto;
}



.main_display{
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-rows: 1fr 2fr auto;
    position: absolute;
    bottom:0;
    left: 0;
    
}

input{
    border: none;
    font-size: 30px;
    line-height: 1;
    background-color: #828282;
    color: white;
    font-family: 'Poppins';
    align-items: center;
    width: inherit;
    margin: 0 1em;
}
input::placeholder{
    height: 40px;
    line-height: 45px;
    font-size: 30px;
}
.small{
    width: 10em;
    display: inline-block;
}

i.fa{
    height: 30px;
    
}
.fa-lock{
    color:whitesmoke;
}
.input{
    
    padding: .5em 1em;
    border-radius: 49px;
    background-color: #828282;
    margin: 1em 0;
    width: fit-content;
}

button{
    width: fit-content;
    margin-top: 3em;
    background: none;
    color: #EDC580;
    font-family: 'Poppins';
    font-weight: bold;
    border-radius: 49px;
    background-color:#0f0f0f;
    border: none;
    outline: none;
    font-size: 20px;
    padding: .5em 3em;
    cursor: pointer;
   
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}
.create_kingdom{
    margin-top: 2em;
    
}
object.wave{
    grid-column:1/4;
    grid-row: 3/4;

}

.main_message{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 2em;
}
.main_message h1{
    text-transform: uppercase;
    color: #EDC580;
    font-style: italic;
    font-size: 50px;
    
    /* position: absolute;
    margin: 0;
    bottom: 2.5%;
    left: 2.5%; */
    margin: 0;
}
.main_message h4{
    text-align: right;
    
    font-size: 20px;
    color: #828282;
   
}

.main_message p{
    color: whitesmoke;
    
}

.wave_logo{
    width: 40%;
    grid-row:3/4;
    grid-column: 1/2;
    margin-left: 10%;
    margin-top: 10%;
}
.sign_in_btns{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sign_in_btns h3{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    
    color: #0f0f0f;
    margin-top: 1em;
    font-weight: bold;
    border-radius: 49px;
    background-color:#EDC580;
    

    font-size: 20px;
    padding: .5em 3em;
   

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

.overlay_display{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all cubic-bezier(0.38, 0.82, 0.6, 1) .5s;
}
.overlay_display form{
    margin: 0 auto;
    position: relative;
    top: 20%;
    right: 10em;
    opacity: 0;
    transition: all .6s;
}
.show_display{
    top: 0;
    opacity: 1;
}
.show_form{
    opacity: 1 !important;
    right: 0 !important;
}


.create_kingdom_display{
    display: grid;
    grid-template-columns: 4.5fr 2fr 4fr;
    grid-template-rows: 1fr 5fr 1fr;

}
form.create_kingdom_form{
   
    grid-row: 2/3;
    grid-column: 3/4;
}

.create_kingdom_message{

    grid-row: 2/3;
    grid-column: 1/2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.create_kingdom_message h2{
    font-size: 50px;
    color: #EDC580;
    margin: 1px 0;

}
.create_kingdom_message img{
    width: 100%;
}
.create_kingdom_message p {
    width: 80%;
    text-align: center;
    color: whitesmoke
    
}
.create_kingdom_blob{
    position: absolute;
    z-index: -1;
    width: 44%;
    left: -8%;
    top: -3%;
}
.create_kingdom_map{
    position: relative;
    width: 75%;
    margin-top: 1em;
}
.create_kingdom_map img{
    border-radius: 10px;
}
.create_kingdom_logo{
    position: absolute;
    bottom: 2%;
    right: 0%;
    width: 20% !important;
}

/* kingdom page */
.kingdom_display{
    position: relative;
    top: 5em;
}
.kingdom_banner{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    height: 29em;
    width: 65%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: inset 0 4px 18px 5px rgba(0, 0, 0, 0.3);

}
img.kingdom_image_banner{
    position: absolute;
    opacity: .3;
    z-index: -1;
    top: -3em;
    
}
.kingdom_banner h1{
    margin: .1em 0;
    font-size: 60px;
}
.kingdom_banner h2{
    margin: .05em 0;
    font-size: 25px;
    font-weight: 400;
}
.kingdom_banner h3{
    margin: .25em 0;
    font-size: 20px;
    font-weight: 400;
}
.kingdom_banner p{
    width: 70%;
    text-align: center;
}
.player_info{
    font-weight: 700 !important;
}
.kingdom_information{
    display:flex;
    justify-content: space-evenly;
    
    width: 75%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 200px;
    
}
.information_card{
    background-color: #0f0f0f;
    width: 25%;
    color: whitesmoke;
    padding: 1em;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    box-shadow:  0 4px 20px -1px rgba(0, 0, 0, 0.3);
    margin-top: 2em;
    height: 20em;
    
}

.overflow_scroll{
    overflow-y: scroll;
}
.information_card h2{
    margin: 0 auto;
    margin-bottom: .25em;
    margin-top: .1em;
}
.information_card h3{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}
.information_card h3 i{
    color: #EDC580;
}
.information_card h3:last-of-type{
    padding-bottom: .1em;
}
.information_card h4{
    position: relative;
    left: 10%;
    width: 90%;
    font-weight: 400;
    margin: 0;
    color: #828282;
    display: flex;
    justify-content: space-between;
}
.policy{
    font-weight: 400;
}

/* Resource Bar */

/* .resources{
    
   

} */

.resources_row{
    justify-content: space-around;
    align-items: center;
   
    width: 100%;

}
.resource_bar span{
    color :#EDC580;
    align-items: center;
    display: flex;
    
}
.resource_bar span img{
    width: 30px;
    height: 30px;
}

.resource_bar{
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;

}
/* Resource Bar */

/* Policy Selection */
.policy_selection_display section{
    display: none;
    opacity: 0;
    flex-wrap: wrap;
    transition: opacity 1s;
    width: 70%;
    justify-content: space-around;
}
.show{
    display: flex !important;
    justify-content: space-between;

}
.active{
    opacity: 1 !important;
}
.policy_selection_display{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.policy_selection_display .policy_selection_message{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;



}
.policy_selection_display .policy_selection_message h1{
    font-size: 40px;
    color: #EDC580;
    text-align: center;


}
.policy_selection_display .policy_selection_message p{
    width: 75%;
    text-align: center;
    color: whitesmoke;



}
.policy_selection_display .policy_selection_message img{
    width: 35%;



}
.policy_selection_display form{

    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    
    width: 50%;
    height: 42em;

}
.cycle{
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    min-width: 70%;
    max-width: 70%;
    justify-content: space-between;
    align-items: center;
}
.next,.back{
   
    cursor: pointer;
    color: #edc580;
    transition: all .5s;
}
.policy_selection_display input[type="radio"]{
    display:none;
}
.policy_selection_display label{
    position: relative;
    color: #EDC580;
    font-size: 20px;
    padding: .3em;
    border: #EDC580 2px solid;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s;

}
.policy_selection_display label::before{
    content: "";
    
    height: 30px;
    width: 30px;
    border: 2px #EDC580 solid;
    border-radius: 50%;
    margin: 0 .25em;
    transition: all .5s;


}
.policy_selection_display input[type="radio"]:checked + label{
    background-color: #EDC580;
    color: #0f0f0f;
}

.policy_selection_display input[type="radio"]:checked + label::before{
    height: 16px;
    width: 16px;
    border: 10px #0f0f0f solid;
}
.policy_selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
    padding: 1em;
    min-width: 40%;
    max-width: 50%;
    min-height: 25vh;
    margin-top: 1em;


    border-radius: 10px;
    box-shadow:  0 4px 20px -1px rgba(0, 0, 0, 0.3);

}
.policy_selection h4{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: .75em 0;
}
.policy_selection h3{
    margin-top: 0;
    margin-bottom: .75em;
}
.policy_selection_submit{
    opacity: 0;
    display: none;
    transition: opacity .5s;
    margin: 0;
    padding: .5em 2em;
}


/* MILITARY PAGE */
.military_display{
    position: relative;
    top: 5em;
}
.military_banner{
    display: flex;
    
    color: whitesmoke;
    align-items: center;

    height: 29em;
    width: 75%;
    margin: 0 auto;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: inset 0 4px 18px 5px rgba(0, 0, 0, 0.3);

}
.military_banner_stats,.military_banner_header{
    display: flex;
    flex-direction: column;

}
.military_banner_header{
    width: 45%;
    margin-left: 3%;
}
.military_banner_header h1{
    font-size: 60px;
    margin: .5em 0;
}
.military_banner_header h1 span{
    font-size: 30px;

}
.military_banner_stats{
    width: 22%;
}
.military_banner_stats h2{
    font-size: 22px;
}
.military_banner_stats h4{
    margin: .6em 0;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
img.military_image_banner{
    position: absolute;
    opacity: .3;
    z-index: -1;
    top: -4em;
    width: 100%;
    
}
.military_selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 5em;
}
.military_buttons{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
    border-bottom: #EDC580 solid 3px;
    padding: 2em;
}
span.highlight{
    background-color: #0f0f0f;
    font-weight: bold;
    
    border-radius: 10px;
}
.military_buttons span{
    color: whitesmoke;
    padding: .25em 1em;
    font-size: 25px;
    cursor: pointer;
}


.troop_stats,.troop_desc,.troop_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}
.troop_desc{
    width: 33%;
    
}
.troop_stats{
    width: 30%;
    justify-content: center;
}
.troop_image{
    width: 30%;
}
.troop_desc h1{
    margin-top: 8%;
}

.troop_desc p {
    width: 75%;
    text-align: center;
}
.troop_desc form{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;

}
.troop_desc form input{
   width: 40%;
   border-radius: 10px;
}
.troop_desc form button{
    width: 40%;
    padding:0;
    margin: 0;
    box-shadow: none;
    border: #EDC580 2px solid;
}
.troop_desc form:last-of-type{
    margin-bottom: 2em;
}
.troop_stats .effective {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.troop_stats .effective h2, .troop_stats .effective h4{
    margin: 0;
}

.troop_stats .effective h4{
    font-size: 20px;
}
.troop_stats i{
    margin-left: .3em;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: flex-end;
}

.troop_stats_off_def{
    width: 100%;
    margin-top: 8%;
}
.troop_stats h3{
    width: 90%;
    margin: .5em auto;
    display: flex;
    justify-content: space-between;
}
.troop_image{
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.troop_image object{
    width: 80%;
}


.select{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.select h4{
    margin-top: .5em;
    color: whitesmoke;
    font-weight: normal;
    transition: all .25s;
}
.circle{
    width: 8px;
    height: 8px;
    border: 2px solid #EDC580 ;
    padding: 0;
    border-radius: 50%;
    
    transition: all .25s;
}
.circle_selected{
    background-color: #EDC580;
    
}



.troop_selection{
    display: none;
    width: 80%;
    justify-content: space-around;
    top: 2em;
    margin-top: 1em;
    position: relative;
    opacity: 0;
    transition: all .5s;
}

.troop_display{
    display: none;
    justify-content: space-around;
    position: absolute;
    top:2em;
    opacity: 0;
    
    background-color: #0f0f0f;
    width: 80%;
    
    border-radius: 10px;
    box-shadow: 0 4px 20px -1px #0000004d;
    transition: all .5s;
}

.troop_display_container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 420px;
}

.flex{
    display: flex !important;
}
.opacity_full{
    opacity: 1 !important;
}
.top_zero{
    top: 0 !important;
}
.cost_line{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cost_line span{
    margin: 0;
    
}
.cost_line img{
    width: 1.2em;
    height: 1.2em;
    margin-left: .3em;
}
.power{
    align-items: center;
    display: flex;
}


/* WAR */

.war_banner{
    
    
    color: whitesmoke;
    align-items: center;

    height: 29em;
    width: 75%;
    margin: 0 auto;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: inset 0 4px 18px 5px rgba(0, 0, 0, 0.3);

}

img.war_image_banner{
    position: absolute;
    opacity: .5;
    z-index: -1;
    top: -4em;
    width: 100%;
    
}
.war_message h1{
    font-size: 70px;
    
}
.war_message p{
    font-size: 20px;
    
}

.war_current h2{
    font-size: 30px;
    
}
.war_buttons{
    width: 40%;
    margin: 1em auto;
    justify-content: space-around;
    border-bottom: #EDC580 solid 3px;
    padding: 2em;
}
.war_buttons span{
    color: whitesmoke;
    padding: .25em 1em;
    font-size: 25px;
    cursor: pointer;
}
.war{
    color: whitesmoke;
    background-color: #0f0f0f;
    width: 60%;
    margin: 0 auto;
    
    border-radius: 10px;
    align-items:center;
    box-shadow: 0 4px 20px -1px #0000004d;
    opacity: 0;
    display: none;
    
    transition: all .5s;
    position: absolute;
    top: 2em;

}
.war_control_panel{
    margin-bottom: 2em;
    position: relative;
    top: 2em;
    display: flex;
    justify-content: center;
}

.war_players{
    justify-content: space-around;
    border-bottom: #EDC580 solid 4px;
    border-radius: 10px;
    width: 100%;
    color: #EDC580;
}
.war_points, .war_stability{
    justify-content: space-around;
    width: 100%;
}


.war object{
    width: 1em;
    height: 1em;
    margin-left: .25em;
}
.war h2{
    display: flex;
    align-items: center;
}
.war_selection_circles{
    display: none;
    top: 2em;
    width: 80%;
    justify-content: space-around;
    top: 2em;
    margin-top: 3em;
    position: absolute;
    opacity: 0;
    transition: all .25s;
    margin: 0 auto;
    
    
}
.prepare_attack_overlay{
    position: fixed;
    background-color:rgba(0, 0, 0,.7);
    height: 100vh;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity .25s;
}
.prepare_attack{
    width: 75%;
    position: absolute;
    display: none;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    align-items: center;
    color: whitesmoke;

    background-color: #0f0f0f;
    box-shadow: 0 4px 20px -1px #0000004d;
    
}
.forces{
    width: 80%;
    justify-content: space-around;
}
.attack_force,.defend_force{
    align-items: center;
}
.attack_force h2,.defend_force h2, .powers h2{
    width: 90%;
    display: none;
    justify-content: space-between;
    margin: .25em 0;
}
.powers{
    width: 80%;
    justify-content: space-around;
}
.powers h2{
    font-size: 60px;
    margin: 0;

}
button.launch_attack{
    margin-bottom: 2em;
    padding: .75em 2em;
    border-radius: 40px;
    color: #EDC580;
    background-color: #0000004d;
    box-shadow: 0 4px 11px -2px rgba(0, 0, 0, 0.3);

}
h2.plan_offensive{
    padding: .5em 2em;
    border: #EDC580 solid 5px;
    border-radius: 40px;
    width: 25%;
    margin: 0 auto;
    box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.3);
    color: #EDC580;
    text-align: center;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1.5em;
    justify-content: center;
}
.row{
    flex-direction: row !important;
}
.attack_selection{
    align-items: center;
}

.large{
    height: 20px;
    width: 20px;
}
.prepare_attack_selection{
    width: 80%;
    justify-content: space-around;
    margin-bottom: 1em;
}
.close{
    position: absolute;
    right: 4em;
    top: 2em;
    cursor: pointer;
}
.close i{
    background-color: #EDC580;
    height: 5px;
    width: 50px;
    transition: all .25s;
}
.close i:first-of-type {

    transform: rotate(45deg);
}
.close i:last-of-type {

    transform: rotate(-45deg);
}
.war h2 span.normal{
    margin-right: .25em;
}

.close:hover i{
    background-color: wheat;
}

.war_selection_circles_container{
    position: relative;
    top: 1em;
    display: flex;
    justify-content: center;

}
form.declarewar{
    margin-top: 4em;
}
