a(href='/declarewar')
      span DECLARE WAR AYYLAH

each warObject in loffensiveWars
    h2 Aggressor
        span YOU
            span Defender
                span=warObject.defenderid



each warObject in defensiveWars
    h2 Aggressor
        span=warObject.aggresorid
            span Defender
                span YOU

