//- h2 Eiffel Tower
//- p description of eiffel tower
//- p cost
//- p purchase button, opens a confirmation pop up

head
  link(rel='stylesheet' href='../style.css' type='TEXT/CSS')
body.construction